.fight {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px 6vh 0;
}

nav * {
    font-size: .9em;
}

.instructions {
    font-size: 4em;
    margin-bottom: 10vh;
    margin-top: 0;
    font-weight: 200;
}

.fruit-container {
    background-color: white; 
    width: auto;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.fruit-form {
    height: auto;
}

.card {
    height: auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

img {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

input {
    border: none;
    background-color: #ffb555;
    color: white;
    font-size: 1.6em;
}

button {
    background-color: white;
    color: black;
}

input:hover {
    font-weight: bold;
}