.fight {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px 14vh 0;
}

nav * {
    font-size: .9em;
}

.instruct {
    margin: 0 0 25px 0;
    text-align: center;
}

.fruit-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid #01DF3A;
    border-radius: 25px;
    width: 300px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;
}

img {
    width: 230px;
    height: 230px;
    overflow: hidden;
}

input {
    border: none;
    font-family: 'Nunito', sans-serif;
    background-color: #01DF3A;
    color: white;
    font-size: 1.6em;
}

input:hover {
    font-weight: bold;
}

img:hover {
    width: 250px !important;
    height: 250px !important;
}