.fight {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px 14vh 0;
}

nav * {
    font-size: .9em;
}

h1 {
    font-size: 4em;
}

.fruit-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

img {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

input {
    border: none;
    font-family: 'Nunito', sans-serif;
    background-color: #01DF3A;
    color: white;
    font-size: 1.6em;
}

input:hover {
    font-weight: bold;
}

img:hover {
    width: 260px !important;
    height: 260px !important;
}