.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title-container {
    width: 50vw;
    height: 20vh;
}

h1 {
    font-size: 4em;
    text-align: center;
}

.leaderboard-container {
    width: 100%;
    height: auto;
}

ol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

li {
    width: 50%;
    margin: 10px;
    font-size: 2em;
}

.space {
    height: 30vh;
}

nav {
    height: 20vh;
    width: 10vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.comments-container {
    height: 100vh;
    width: 40vw;
}

.comment-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

input {
    border: none;
    background-color: #ffb555;
    color: white;
    font-size: 1.6em;
    margin: 20px;
}

input:hover {
    font-weight: bold;
}