@media only screen and (max-width: 600px) {
    .main-title{
        width: 95% !important;
        text-align: center;
    }

    .instructions {
        font-size: 2em !important;
    }

    img {
        width: 100px !important;
        height: 100px !important;
    }

    .card {
        width: 190px !important;
        height: 220px !important;
    }

    img {
        width: 100px !important;
        height: 100px !important;
    }

    button h2 {
        font-size: .8em !important;
    }

    img:hover {
        width: 110px !important;
        height: 110px !important;
    }

    .content {
        flex-wrap: wrap;
    }

    .left {
        width: 100vw !important;
        overflow-x: hidden;
    }

    .right {
        width: 100vw !important;
        height: auto !important;
    }

    .title-container {
        width: 100% !important;
        margin-bottom: 20vh !important;
    }

    .space {
        height: 2vh !important;
    }

    .comments-container {
        width: 100% !important;
        height: auto !important;
    }

    nav {
        width: 100% !important;
        justify-content: center !important;
    }
  }

@media only screen and (min-width: 600px) {
    img:hover {
        width: 260px !important;
        height: 260px !important;
    }
}