<section class="content">
    <div class="left">
        <div class="title-container">
            <h1>Current Standings</h1>
        </div>
        <div class="leaderboard-container">
            <ol>
                {{#each results}}
                <li>{{ name }}</li>
                {{/each}}
            </ol>
        </div>
    </div>
    <div class="right">
        <div class="comments-container">
            <div class="form-container">
                <h1>Comments?</h1>
                <form action="/comment" method="POST" class="comment-form">
                    <p class="input-field">
                        <textarea name="comment[name]" cols="30" rows="2" placeholder="Name (optional)"></textarea>
                    </p>
                    <p class="input-field">
                        <textarea name="comment[fruit]" cols="30" rows="2" placeholder="Any missing fruits?"></textarea>
                    </p>
                    <p class="input-field">
                        <textarea name="comment[content]" cols="30" rows="10" placeholder="Other comments"></textarea>
                    </p>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</section>