<h1>click your favorite</h1>
{{#each fruits}}
    <form method="POST" action="/fruit/{{ id }}?_method=PATCH" class="fruit-form">
        <div class="card">
            <img src="{{ url }}">
            <input type="submit" value='{{ name }}' class='fruit-button'>
        </div>
    </form>
{{/each}}
