<section class="fight">
    <nav>
        <form method="GET" action="/leaderboard" class="leaderboard-form">
            <input type="submit" value="View Leaderboard" class="leaderboard-button">
        </form>
    </nav>

    <h1>click your favorite</h1>

    <div class="fruit-container">
        {{#each fruits}}
            <form method="POST" action="/fruit/{{ id }}?_method=PATCH" class="fruit-form">
                <div class="card">
                    <button type="submit" class='fruit-button'><img src="{{ url }}"></button>
                    <h2>{{ name }}</h2>
                </div>
            </form>
        {{/each}}
    </div>
</section>